# Create a virtual environment
# python -m venv venv
# For Windows: .\venv\Scripts\activate
#source venv/Scripts/activate
#uvicorn main:app --reload

# Install backend dependencies
# pip install -r Requirements.txt

fastapi
uvicorn[standard]